<div class="divBody d-flex flex-column">
    <app-navbar></app-navbar>
    <div class="container-fluid">
        <div class="searchBar">
            <form class="d-flex" role="search">
                <input type="search" name="search" placeholder="Search" class="form-control me-2" id="search">
                <button type="submit">
                    <img src="assets/icon_loupe/loupe.png" alt="">
                </button>
            </form>
        </div>

        <div class="card m-3 d-flex flex-column">
            <app-one-of-list-object></app-one-of-list-object>
        </div>
    </div>
    <app-footer></app-footer>
</div>
