/* Structure Page a Import */
.divBody{
    min-height: 100vh;
}

.container-fluid{
    flex:1;
}

div.searchBar{
    margin-top: 2%;
}
div.searchBar form input{
    margin-left: 5%;
}
div.searchBar form button{
    background-color: #F5F7F8;
    border: 1px solid #45474B;
    border-radius: 55%;
}

