<nav class="navbar navbar-expand-lg  ">
    <div class="container-fluid">
        <a href="" class="navbar-brand">G&T</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <img class="menuBurger" src="assets/icon_menu/menu.png" alt="Menu Burger">
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-nav-scroll ">
                <li class="nav-item dropdown col-lg-5 col-xl-5 col-md-4">

                    <button class="btn btn-secondary dropdown-toggle btn_barre" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Add
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/objects/add">Objet</a></li>
                        <li><a class="dropdown-item" href="/annonces/add">Annonce</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown col-lg-5 col-xl-5 col-md-5">
                    <button class="btn btn-secondary dropdown-toggle btn_barre" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        List
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/objects">Objets</a></li>
                        <li><a class="dropdown-item" href="/annonces">Annonces</a></li>
                        <li><a class="dropdown-item" href="/emprunts">Emprunts</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown col-lg-2 col-xl-2 col-md-3">
                    <img src="assets/icon_profil/utilisateur-de-profil.png" alt="" class="dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Compte</a></li>
                        <li><a class="dropdown-item" (click)="deco()">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

