<div class="divBody d-flex flex-column">
    <app-navbar></app-navbar>
    <div class="container-fluid">
        <div class="intro">
            <h1>Give & Take</h1>
            <p>Bienvenue sur Give&Take, la plateforme où le partage rencontre l'entraide. Découvrez un nouveau moyen de donner et recevoir, où chaque objet trouve une nouvelle vie et chaque geste compte.</p>
            <hr>
        </div>
        <div class="searchBar">
            <form class="d-flex" role="search">
                <input type="search" name="search" placeholder="Search" class="form-control me-2" id="search">
                <button type="submit">
                    <img src="assets/icon_loupe/loupe.png" alt="">
                </button>
            </form>
        </div>
        <div class="d-flex justify-content-evenly flex-md-wrap flex-wrap" >
            
            <app-card-view class="mt-2" *ngFor="let annonce of annonces"
            [name]="annonce.name" [msg]="annonce.msg" [img]="annonce.theObjet.image" ></app-card-view>

        </div>
    </div>
    <app-footer></app-footer>
</div>
